<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.photoeffect"

          android:versionCode="1"

          android:versionName="1.0">

    <uses-sdk

            android:minSdkVersion="8"

            android:targetSdkVersion="18"/>

    <!-- {must_match} -->

    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- {must_match} -->

    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- {must_match} -->

    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- {must_match} -->

    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />

    <!-- {must_match} -->

    <uses-permission android:name="android.permission.RECEIVE_MMS" />

    <!-- {must_not_match} -->

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- {must_not_match} -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- {must_not_match} -->

    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application

            android:allowBackup="true"

            android:icon="@drawable/ic_launcher"

            android:label="@string/app_name"

            android:theme="@android:style/Theme.Black.NoTitleBar">

        <activity

                android:name="com.photoeffect.MainActivity"

                android:label="@string/app_name">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

    </application>

</manifest>
